meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Establecer condiciones de riesgo
meta(meta name="description" content="La salud pública es la disciplina enfocada en la protección de la población mediante estrategias de promoción y prevención de la enfermedad. Para tal efecto es necesario implementar técnicas de recolección de información y análisis epidemiológico que permitan establecer el estado actual de la población a través de indicadores. De igual forma, es importante identificar las enfermedades de interés, sus orígenes, su transmisión y propagación. Con estos propósitos se ha creado el sistema de vigilancia en salud pública. Por ello, en este componente se desarrollarán las temáticas referentes al Sistema de salud pública y los principios de epidemiología.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")