h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark.mb-0
            li.mb-0
                span
                    | #[strong 230101239-01]
                    br
                    | Establecer condiciones de riesgo de acuerdo a normas técnicas y guías en salud.