.container

  .header-ecored#tema1
    h1 1. Enfermedad

  .jumbotron.bg-white.shadow

    img.img-fluid.mb-4(src="assets/images/pages/tema-1/img01.svg")

    p La enfermedad es definida como: 

    p "Cualquier desviación o interrupción de una estructura y función normales de cualquier parte del cuerpo. Se manifiesta por una serie característica de signos y síntomas y en la mayor parte de los casos se conoce la etiología, patología y pronóstico " (Brooker C, 2010, p. 159).

    .header-arrow.mt-4.mb-6
      h3.text-center Para establecer la presencia de alguna enfermedad se deben identificar:

    .row.justify-content-center.mt-7.pt-4
      .col-12.col-md-6.my-6.my-md-0.d-flex
        .card.contBg02.border-0
          .card-body
            .avatar.avatar-super.card-avatar.card-avatar-top
              img(src="assets/images/pages/tema-1/img02.svg").avatar-img
            h3 Signos:
            p cualquier evidencia objetiva de enfermedad. Por ejemplo: temperatura elevada, hinchazón, ruidos respiratorios anormales o vomitar sangre (Brooker C, 2010, p.432). Estas manifestaciones se pueden percibir a través de un examen físico que se le realiza al paciente.
      .col-12.col-md-6.my-6.my-md-0.d-flex
        .card.contBg02.border-0
          .card-body
            .avatar.avatar-super.card-avatar.card-avatar-top
              img(src="assets/images/pages/tema-1/img03.svg").avatar-img
            h3 Sintoma
            p fenómenos o manifestaciones subjetivas de la enfermedad (Brooker C, 2010, p. 449). Es decir, todas aquellas manifestaciones que solo puede percibir el paciente como lo son el mareo, fatiga, dolor.