.container

  .header-ecored#tema2
    h1 2. Salud pública 

  .jumbotron.bg-white.shadow

    img.img-fluid.mb-4(src="assets/images/pages/tema-2/img01.png")

    p Teniendo en cuenta el concepto de salud que refiere un estado completo de bienestar, incluyendo factores internos y externos de la persona. Este a su vez implica el desarrollo de un modelo socio económico de salud, mediante el cual se incluyan los principales factores determinantes de la salud y sus interacciones:

    p Para ello, se puede tomar como base el modelo descrito por López, S, (2013) en su documento introducción a la salud pública, en el cual presenta los diferentes determinantes de la salud por medio de capas de influencia sobre el individuo de la siguiente forma:

    .header-arrow.mt-4.mb-6
      h3.text-center Modelo socioeconómico de salud.

    img.img-fluid.mb-4.imgW90.d-block.mx-auto(src="assets/images/pages/tema-2/img02.png")

    .row.justify-content-between.align-items-start.mt-5
      .col-12.col-lg-6
        p.header-step.contBg03.p-4.rounded
          span.header-step-number 1.
          span.header-step-title En el medio se encuentra el individuo con los factores que influyen en su salud y que no pueden ser modificados, como son la edad, el sexo y determinantes genéticos, los cuales son conocidos como factores constitucionales de la salud.
        p.header-step.contBg06.p-4.rounded
          span.header-step-number 2.
          span.header-step-title Alrededor se encuentran las capas que representan los factores determinantes en la salud que pueden ser modificados, como son por ejemplo los estilos de vida saludables que implican cambios en hábitos nocivos, por hábitos protectores de la salud. En definitiva, los aspectos descritos anteriormente y los programas asociados a los mismos se conocen como promoción de la salud, entre los cuales se encuentran las campañas en contra del uso de tabaco, fomento de actividad física, entre otras.
      .col-12.col-lg-6
        p.header-step.contBg04.p-4.rounded
          span.header-step-number 3.
          span.header-step-title En una tercera capa, se tiene en cuenta el entorno comunitario del individuo y cómo este puede afectar sus esfuerzos a través de su influencia en la adopción o no de sus hábitos saludables, por ejemplo, desestimular el consumo de tabaco en un individuo que se encuentra rodeado de personas que fuman en sus entornos familiares y laborales, representando un factor de dificultad mayor.
        p.header-step.contBg05.p-4.rounded
          span.header-step-number 4.
          span.header-step-title En la capa más externa, se encuentran los determinantes que tienen una influencia más amplia. Allí se encuentran las condiciones laborales, condiciones de vida, acceso a los alimentos, servicios de saneamiento básico y agua potable, accesibilidad a los servicios de salud, calidad y condiciones de vivienda, que afectan de igual forma las condiciones y estado de salud del individuo (p.14).
    
    p Teniendo en cuenta los determinantes de salud descritos, es necesario implementar estrategias que logren influir positivamente en cada una de las capas y mejoren las condiciones de la población, lo cual se logra a través de la implementación de la salud pública, que es descrita por la Organización Panamericana de la Salud como: 

    h3.contBr01.p-4.rounded “El esfuerzo organizado de la sociedad, principalmente a través de sus instituciones de carácter público, para mejorar, promover, proteger y restaurar la salud de las poblaciones por medio de actuaciones de alcance colectivo” (López, S, 2013, p. 2)
      
    p.mb-0 En Colombia, el estado como garante del bienestar de sus ciudadanos, implementa diferentes programas y estrategias para la protección de la salud pública, a través del Decreto 3518 (2006), por medio del cual se reglamenta el Sistema de Vigilancia en salud pública para la república de Colombia (SIVIGILA), dentro del cual se definen:

  .header-ecored#tema2_1
    h1 2.1 Actividades de salud pública

  .jumbotron.bg-white.shadow

    p.mb-5 La salud pública según López S, (2013) se enfoca básicamente en las siguientes 4 actividades

    .contBg07.p-4.rounded.mb-4
      h3 Protección de la salud:
      hr.hr01.mb-4

      .row.justify-content-center.mb-4
        .col-10.col-md-5
          img.img-fluid(src="assets/images/pages/tema-2/img03.png")

      p.mb-0 son actividades de salud pública dirigidas al control sanitario del medio ambiente en su sentido más amplio, con el control de la contaminación del suelo, agua, aire y de los alimentos. Además, se incluye la seguridad en el trabajo y en el transporte.
    
    .contBg07.p-4.rounded.mb-4
      h3 Promoción de la salud:
      hr.hr01.mb-4

      .row.justify-content-center.mb-4
        .col-10.col-md-5
          img.img-fluid(src="assets/images/pages/tema-2/img04.png")

      p.mb-0 son actividades que intentan fomentar la salud de los individuos y colectividades, promoviendo la adopción de estilos de vida saludables, mediante intervenciones de educación sanitaria a través de medios de comunicación de masas, en las escuelas y en atención primaria. Así para toda la comunidad que no tienen los recursos necesarios para la salud, la educación sanitaria debe ser complementada con los cambios necesarios en el medio ambiente y en las condiciones sociales y económicas que permitan a los ciudadanos el ejercicio efectivo de los estilos de vida saludables y la participación en la toma de decisiones que afecten a su salud.
    
    .contBg07.p-4.rounded.mb-4
      h3 Protección de la salud:
      hr.hr01.mb-4

      .row.justify-content-center.mb-4
        .col-10.col-md-5
          img.img-fluid(src="assets/images/pages/tema-2/img05.png")

      p.mb-0 se basa en intervenciones de prevención primaria, prevención secundaria o detección precoz de enfermedades y de prevención terciaria o de contención y rehabilitación de la secuela dejada por el o los daños de las funciones físicas, psíquicas o sociales.
    
    .contBg07.p-4.rounded.mb-4
      h3 Restauración de la salud: 
      hr.hr01.mb-4

      .row.justify-content-center.mb-4
        .col-10.col-md-5
          img.img-fluid(src="assets/images/pages/tema-2/img06.png")

      p.mb-0 consiste en todas las actividades que se realizan para recuperar la salud en caso de su pérdida, que son responsabilidad de los servicios de asistencia sanitaria que despliegan sus actividades en 2 niveles: atención primaria y atención hospitalaria (p. 3).
  
  .header-ecored#tema2_2
    h1 2.2 Responsables del sistema de vigilancia en salud pública y sus funciones

  .jumbotron.bg-white.shadow

    p.mb-5 Para dar cumplimiento a las actividades de la salud pública anteriormente descritas se establecieron por medio del Decreto 3518 (2006), en su capítulo II, artículo 6°, los responsables del sistema y sus funciones dentro de las cuales se puede resaltar algunas como:

    .row.mb-4
      .col-12.col-md-8.contD01B.mb-0.mb-md-4
        h3 Ministerio de Protección Social
        ul.list01
          li Como ente de vigilancia será quien dirigirá el SIVIGILA.
          li Definirá políticas, planes, programas, proyectos y demás acciones técnicas y operativas para el SIVIGILA y para cualquier problemática de salud pública nacional.
          li Coordinar la participación de las organizaciones de salud y de otros actores.
          li Será quien brinde asistencia técnica a las entidades adscritas del orden nacional al igual que integrar a los laboratorios tanto distritales como regionales al SIVIGILA.
          li Una de sus funciones más relevantes es que realizará el análisis de situaciones de salud del país y es quien puede declarar la emergencia nacional en salud pública (Decreto 3518, 2006, p. 4).
      .col-6.col-md-4.d-flex.align-items-center.position-relative.mb-0.mb-md-4
        .contE01L
        div.contI01 
          img.img-fluid.my-3(src="assets/images/pages/tema-2/img07.png")
        
      .col-6.col-md-4.d-flex.align-items-center.position-relative.mb-0.mb-md-4
        .contE01R
        div.contI01 
          img.img-fluid.my-3(src="assets/images/pages/tema-2/img08.png")
      .col-12.col-md-8.contD01T.mb-0.mb-md-4
        h3 El Instituto Nacional de Salud (INS) y el Instituto Nacional de Vigilancia de Medicamentos y Alimentos (INVIMA)
        p Dentro de las funciones que se pueden resaltar se encuentran: 
        ul.list01
          li Desarrollar todas las acciones para apoyar el SIVIGILA y el Ministerio de Salud y Protección Social.
          li Proponer planes al ministerio para vigilancia y control de problemas de salud pública.
          li Apoyar departamentos y al distrito capital en control epidemiológico.
          li Analizar y divulgar información en salud pública (Decreto 3518, 2006, p. 4).
      
      .col-12.col-md-8.contD01B.mb-0.mb-md-4
        h3 Direcciones departamentales y distritales de salud
        p Siendo las entidades rectoras del SIVIGILA a nivel territorial, deben de acatar todas las funciones dispuestas en el Decreto 3518 (2006) o el que lo sustituya, pero dentro de las cuales se puede resaltar:
        ul.list01
          li Gerenciar el sistema SIVIGILA en su territorio
          li Difundir todo el sistema de información del Ministerio de salud
          li Vigilar y coordinar las actividades de operación del sistema SIVIGILA
          li Apoyar a los territorios en acciones de control epidemiológico.
          li Cumplir y hacer cumplir todas las normas y leyes referentes a salud pública.

      .col-6.col-md-4.d-flex.align-items-center.position-relative.mb-0.mb-md-4
        .contE01L
        div.contI01 
          img.img-fluid.my-3(src="assets/images/pages/tema-2/img09.png")
        
      .col-6.col-md-4.d-flex.align-items-center.position-relative.mb-0.mb-md-4
        .contE01R
        div.contI01 
          img.img-fluid.my-3(src="assets/images/pages/tema-2/img10.png")
      .col-12.col-md-8.contD01T.mb-0.mb-md-4
        h3 Direcciones municipales de salud
        p Al igual que otras entidades territoriales las direcciones municipales se enfocan procesos básicos de vigilancia de acuerdo con la ley 715 (2001), dentro de sus funciones se puede resaltar:
        ul.list01
          li Garantizar la infraestructura y el talento humano para los procesos de vigilancia municipal.
          li Coordinar la red de vigilancia en salud pública.
          li Realizar gestión interinstitucional e intersectorial del SIVIGILA
          li Realizar búsqueda activa de casos y brotes o epidemias cuando se presenten en su área de influencia (Decreto 3518, 2006, p. 5).

      .col-12.col-md-8.contD01B.mb-0.mb-md-4
        h3 Entidades administradoras de planes de beneficios de salud
        p entre las cuales se puede encontrar entidades promotoras de salud y entidades adaptadas. Dentro de sus funciones se encuentra:
        ul.list01
          li Implementar todas las directrices y procedimientos determinados por el Ministerio de Salud y de Protección Social (MSPS) en relación con los procesos básicos de la vigilancia en sus redes de servicios.
          li Mantener bases de datos sobre eventos de interés.
          li Analizar y utilizar la información de vigilancia para la toma de decisiones.
          li Suministrar información de su población afiliada, entre otros (Decreto 3518, 2006, p. 6).

      .col-6.col-md-4.d-flex.align-items-center.position-relative.mb-0.mb-md-4
        .contE01L
        div.contI01 
          img.img-fluid.my-3(src="assets/images/pages/tema-2/img11.png")
      
      .col-6.col-md-4.d-flex.align-items-center.position-relative.mb-0.mb-md-4
        .contE01R
        div.contI01 
          img.img-fluid.my-3(src="assets/images/pages/tema-2/img12.png")
      .col-12.col-md-8.contD01T.mb-0.mb-md-4
        h3 Unidades primarias generadoras de datos
        p son aquellas Instituciones Prestadoras de Salud (IPS), laboratorios clínicos y bancos de sangre u órganos entre otros, que deben cumplir con funciones como:
        ul.list01
          li Implementar todas las directrices del Ministerio de salud.
          li Informar y actualizar bases de datos de vigilancia.
          li Analizar y utilizar la información de vigilancia para la toma de decisiones.
          li Notificar cualquier evento sujeto de vigilancia.
          li Participar en las estrategias de vigilancia especiales planteadas por la autoridad sanitaria, entre otras (Decreto 3518, 2006, p. 6).

      .col-12.col-md-8.contD01B.mb-0.mb-md-4
        h3 Otras entidades
        p Aquellas entidades que antes de la entrada en vigor del presente decreto no participaban en los procesos de vigilancia, deberán integrarse funcionalmente al Sistema de Vigilancia en salud pública (SIVIGILA) y a la operación del mismo, en la medida en que sean diseñados e implementados modelos de vigilancia en los que puedan participar como proveedores de información de interés en salud pública (Decreto 3518, 2006, p. 6).
        P En este tema se abordaron las funciones más relevantes desde la perspectiva de información y gestión que permita organizar diagnósticos de condiciones de riesgo en las comunidades (dependiendo de su localización).

      .col-6.col-md-4.d-flex.align-items-center.position-relative.mb-0.mb-md-4
        .contE01L
        div.contI01 
          img.img-fluid.my-3(src="assets/images/pages/tema-2/img13.png")

      .contBg08.rouded.p-4
        p #[strong Para ampliar la información acerca del funcionamiento del Sistema de Vigilancia en Salud Pública] se recomienda consultar el Decreto 3518 de 2006 el cual encontrará en el siguiente enlace Decreto 3581. Ministerio de la protección social. Bogotá. Colombia. 9 octubre de 2006.

        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/Decreto-3518-de-2006.pdf" target="_blank").media-link    
          img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
          .media-link-title
            p #[strong Anexo]. Decreto 3581. Ministerio de la Protección Social. Bogotá. Colombia. 9 octubre de 2006.

  .header-ecored#tema2_3
    h1 2.3 Plan decenal de salud pública

  .jumbotron.bg-white.shadow

    p Para poner en marcha las actividades del sistema de salud se desarrollan los planes decenales de salud pública, los cuales, se proyectan cada 10 años atendiendo las necesidades identificadas para el país. Actualmente está vigente el Plan Decenal correspondiente a los años 2012 – 2021, en el cual se priorizan las siguientes 7 dimensiones para atender las necesidades en Salud Pública (Ministerio de Salud y Protección Social, 2013, p. 75).

    img.img-fluid.mb-5(src="assets/images/pages/tema-2/img14.png")

    .row.justify-content-center.mb-5
      .col-12.col-md-6.mb-4
        .contBg02.rounded-bottom.shadow.H100
          img.img-fluid(src="assets/images/pages/tema-2/img15.png")
          .p-4
            h3 Salud ambiental:
            p.mb-0 Conjunto de políticas, planificado y desarrollado de manera intersectorial, con la participación de los diferentes actores sociales, que buscan materializar el derecho a un ambiente sano, que favorezca y promueva la calidad de vida y salud de la población de presentes y futuras generaciones, a través de la transformación positiva de los determinantes sociales, sanitarios, laborales, ocupacionales y ambientales (Ministerio de Salud y Protección Social, 2013, p. 75).
      .col-12.col-md-6.mb-4
        .contBg02.rounded-bottom.shadow.H100
          img.img-fluid(src="assets/images/pages/tema-2/img16.png")
          .p-4
            h3 Vida saludable y condiciones no transmisibles:
            p.mb-0 Conjunto de políticas e intervenciones transectoriales que buscan el bienestar y el disfrute de una vida sana en las diferentes etapas del transcurso de vida, promoviendo modos, condiciones y estilos de vida saludables en los espacios cotidianos de las personas, familias y comunidades, así como el acceso a una atención integrada de condiciones no transmisibles con enfoque diferencial (Ministerio de Salud y Protección Social, 2013, p. 88).

      .col-12.col-md-6.mb-4
        .contBg02.rounded-bottom.shadow.H100
          img.img-fluid(src="assets/images/pages/tema-2/img17.png")
          .p-4
            h3 Convivencia social y salud mental:
            p.mb-0 Espacio de acción transectorial y comunitario que, mediante la promoción de la salud mental y la convivencia, la transformación de problemas y trastornos prevalentes en salud mental y la intervención sobre las diferentes formas de la violencia; contribuya al bienestar y al desarrollo humano y social en todas las etapas del curso de vida, con equidad y enfoque diferencial, en los territorios cotidianos (Ministerio de Salud y Protección Social, 2013, p. 98).
      .col-12.col-md-6.mb-4
        .contBg02.rounded-bottom.shadow.H100
          img.img-fluid(src="assets/images/pages/tema-2/img18.png")
          .p-4
            h3 Seguridad alimentaria y nutricional:
            p.mb-0 Acciones que buscan garantizar el derecho a la alimentación sana con equidad, en las diferentes etapas del ciclo de vida, mediante la reducción y prevención de la malnutrición, el control de los riesgos sanitarios y fitosanitarios de los alimentos y la gestión intersectorial de la seguridad alimentaria y nutricional con perspectiva territorial (Ministerio de Salud y Protección Social, 2013, p. 103).
      
      .col-12.col-md-6.mb-4
        .contBg02.rounded-bottom.shadow.H100
          img.img-fluid(src="assets/images/pages/tema-2/img19.png")
          .p-4
            h3  Derechos y sexualidad:
            p.mb-0 Conjunto de acciones intersectoriales que se orientan a promover las condiciones sociales, económicas, políticas y culturales que permiten el ejercicio libre, autónomo e informado de la sexualidad como un derecho humano, para el desarrollo de las potencialidades de las personas durante todo su ciclo vital, así como de los grupos y comunidades, desde un enfoque de género y diferencial (Ministerio de Salud y Protección Social, 2013, p. 110).
      .col-12.col-md-6.mb-4
        .contBg02.rounded-bottom.shadow.H100
          img.img-fluid(src="assets/images/pages/tema-2/img20.png")
          .p-4
            h3 Vida saludable libre de enfermedades transmisibles:
            p.mb-0 Espacio de acción transectorial y comunitario que busca garantizar el disfrute de una vida sana, en las diferentes etapas del ciclo de vida, promoviendo modos, condiciones y estilos de vida saludables en los territorios cotidianos de las personas, familias y comunidades, así como el acceso a una atención integrada ante situaciones, condiciones y eventos transmisibles, con enfoque diferencial y equidad social, desde una perspectiva de desarrollo humano sostenible (Ministerio de Salud y Protección Social, 2013, p. 118).
      
      .col-12.col-md-6.mb-4
        .contBg02.rounded-bottom.shadow.H100
          img.img-fluid(src="assets/images/pages/tema-2/img21.png")
          .p-4
            h3 Salud pública en emergencias y desastres:
            p.mb-0 Espacio de acción transectorial y comunitario que propende por la protección de individuos y colectivos ante los riesgos de emergencias o desastres, procurando reducir los daños que afectan la salud humana y ambiental, a través de la gestión integral del riesgo como un proceso social que orienta la formulación, ejecución, seguimiento y evaluación de políticas, estrategias, planes, programas y acciones permanentes para el conocimiento, la reducción del riesgo y el manejo de emergencias y desastres, con el fin de contribuir en la seguridad sanitaria, el bienestar, la calidad de vida de las personas y al desarrollo sostenible en el territorio nacional (Ministerio de Salud y Protección Social, 2013, p. 127).

    .row.align-items-center.justify-content-center.mt-5
      .col-8.col-md-5.col-xl-4.mb-5
        figure
          img(src="assets/images/pages/img_actividad.svg", alt="")
      
      .col-12.col-md-7
        hr.line-100.bg-orange
        .text-center.p-2
          h2 ¡Ponga a prueba su conocimiento! 
          p La siguiente actividad tiene como propósito validar los conocimientos relacionados con el tema <strong>Salud pública</strong>.
          a(href="media/actividad-1/index.html" target="_blank" class="btn btn-colour-Orange") Iniciar            
        hr.line-100.bg-orange