.container

    .jumbotron.bg-white.shadow.mt-6

        p.mb-0 Definir qué es el modelo de inspección, vigilancia y control, es fundamental para iniciar las fases de implementación de acciones que aborden todos los temas ya vistas en este componente, para iniciar el tema se invita a visualizar el siguiente video.

    .header-ecored#tema4
        h1 4. Modelo de inspección vigilancia y control 

    .jumbotron.bg-white.shadow

        #carouselExampleIndicators.carousel.slide.mb-5(data-ride='carousel', data-interval="false", data-wrap="false")
            ol.carousel-indicators.cont-ind
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                li(data-target='#carouselExampleIndicators', data-slide-to='3')
                li(data-target='#carouselExampleIndicators', data-slide-to='4')
                li(data-target='#carouselExampleIndicators', data-slide-to='5')
                li(data-target='#carouselExampleIndicators', data-slide-to='6')
                li(data-target='#carouselExampleIndicators', data-slide-to='7')
                li(data-target='#carouselExampleIndicators', data-slide-to='8')
                li(data-target='#carouselExampleIndicators', data-slide-to='9')
                li(data-target='#carouselExampleIndicators', data-slide-to='11')
                li(data-target='#carouselExampleIndicators', data-slide-to='12')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='assets/images/pages/tema-4/img01.png', alt='0')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img02.png', alt='1')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img03.png', alt='2')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img04.png', alt='3')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img05.png', alt='4')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img06.png', alt='5')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img07.png', alt='6')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img08.png', alt='7')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img09.png', alt='8')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img10.png', alt='9')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img11.png', alt='10')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/tema-4/img12.png', alt='11')
                                                                            
            .cont-btn
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next 

        .contBg08.rouded.p-4.mb-4
            p Uno de los documentos más importantes el de inspección y vigilancia sanitaria que brinda el ministerio de salud y protección social, de la página 11 a la 39 para consultarlo siga el siguiente enlace

            p 
                | En cuanto a la caracterización de las fuentes de información consultar las páginas 25 a la 37.
                br
                |#[strong Ministerio de salud y protección social. (2014).]

            a(href="https://www.minsalud.gov.co/RID/modelo-operativo-ivc-t.pdf" target="_blank").media-link    
                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                .media-link-title
                    p #[strong Anexo]. Guía Metodológica Nacional para la caracterización de fuentes de información para la salud en Colombia. Bogotá.