.container#page-introduccion

  .header-ecored
    h1 Introducción ¿Qué es salud?

  .jumbotron.bg-white.shadow

    .w-75.mx-auto.mb-4
      img.img-fluid(src="assets/images/pages/intro/img01.svg")

    p Para definir el concepto de salud, es necesario tener en cuenta las diferentes perspectivas asociadas a los puntos de vista culturales, históricos, sociales e incluso religiosos. Las cuales fueron adoptadas por la Organización Mundial de la Salud (OMS) en 1947 definiendo la salud como: 

    h3.contBr01.p-4.rounded “Un estado de completo bienestar físico, mental y social y no solamente la ausencia de afecciones o enfermedades”. (Organización Panamericana de la Salud, 2018, p. 4).
      
    p.mb-0 Esta definición de salud implica el análisis transversal y más amplio del tema, mucho más que las definiciones usuales donde atribuyen a salud como solo la ausencia de enfermedad, lo que implica que para establecer el estado de salud de una persona no es suficiente con que ésta no presente dolencias físicas, sino que además implica tener en cuenta su entorno, condiciones de vida, ambientales y emocionales, que puedan llegar a alterar su calidad de vida.

